{% extends "layout.html" %}
{% block main %}
<ol class="breadcrumb">
   <li><a href="/admin">管理首页</a></li>
   <li class="active">正确提示</li>
</ol>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">正确提示</h3>
    </div>
    <div class="panel-body">{{message}}</div>
    {% if url %}
    <div class="panel-footer"><a href="{{url}}">点击这里跳转</a></div>
    {% else %}
    <div class="panel-footer"><a href="javascript:window.history.back();">返回上一页</a></div>
    {% endif %}
  </div>
{%endblock%}