* {font-family: 微软雅黑;margin: 0px;padding: 0px;}
body {font-size: 14px;background:#e2e2e2;}
#content {text-align: center;}
#banner {width: 100%;height: 240px;background: url(../img/bg_login.png) center center;}
#menu {height: 40px;width: 100%;text-align: center;background: #fff;}
#menu li {display: inline;list-style: none;padding: 0px 20px;}
#menu li a {color: #333;line-height: 40px;text-decoration: none;}
#main {width: 980px;margin: 20px auto;}
#left {width: 680px;float: left;}
#right {width: 280px;float: left;margin-left: 20px;}
.blog_box,.page {width: 618px;color: #333;margin-bottom: 20px;border: 1px solid #e2e2e2;background: #fff;padding: 30px;}
.blog_title {font-size: 18px;font-weight: bold;margin: 10px auto;}
.blog_info span {color: #2d85f1;}
.blog_main {text-align: left;line-height: 24px;margin: 20px auto;}
.read_more {color: #fff;display: block;background: #f60;border: none;padding: 12px 32px;}
#right {width: 280px;float: left;margin-left: 20px;}
#login, #reg ,#user_information{width: 218px;margin-bottom: 20px;padding: 30px;border: 1px solid #e2e2e2;background: #fff;}
.bgText {width: 100%;text-align: left;margin-bottom: 20px;padding-bottom: 8px;border-bottom: 1px solid #ccc;}
.bgText span {padding-bottom: 8px;font-weight: bold;border-bottom: 1px solid #f60;}
#loginMain label, #regMain label {width: 100%;margin-bottom: 12px;display: block;}
input {width: 160px;height: 28px;padding-left: 12px;}
#right button {display: block;color:#fff;margin-left: 42px;background: #f60;padding: 8px 74px;border:none}
.reg_edit {text-align: right;width: 100%;margin-top: 10px;}
.reg_edit a {color: #2d85f1;}
#userMain{text-align: left;}
.page li{width: 206px; list-style: none; float: left;}