{% extends "layout.html" %}
{%block content%}
    {% for content in contents %}
    <div class="blog_box">
        <div class="blog_title">{{content.title}}</div>
        <div class="blog_info">
            作者：<span>{{content.user.username}}</span>
            - 时间：<span>{{content.addTime|date("Y-m-d H:i:s",-8*60)}}</span>
            - 阅读：<span>{{content.views}}</span>
            - 评论：<span>{{content.comments.length}}</span></div>
        <div class="blog_main">{{content.description}}</div>
        <button type="button" class="read_more"><a href="/view?contentid={{content.id}}">阅读全文</a></button>
    </div>
    {% endfor %}
    <div class="page">
        <ul>
            <li>
                {% if page <= 1%}
                <span>没有上一页了</span>
                {% else%}
                <a href="/?category={{category}}&page={{page-1}}">上一页</a></a>
                {%endif%}
                        
            </li>
            {%if pages > 0%}
            <li>{{page}} / {{pages}}</li>
            {%endif%}
            <li>
                {% if page >= pages%}
                <span>没有下一页了</span>
                {% else%}
                <a href="/?category={{category}}&page={{page + 1}}">下一页</a></a>
                {%endif%}
            </li>
        </ul>
    </div>
{%endblock%}