{% extends "layout.html" %}
{%block content%}
    <div class="blog_box">
        <div class="blog_title">{{content.title}}</div>
        <div class="blog_info">
            作者：<span>{{content.user.username}}</span>
            - 时间：<span>{{content.addTime|date("Y-m-d H:i:s",-8*60)}}</span>
            - 阅读：<span>{{content.views}}</span>
            - 评论：<span>{{content.comments.length}}</span></div>
        <div class="blog_main">{{content.content}}</div>
    </div>
    <div class="blog_box message">
        <div class="textLeft">
            <strong>评论</strong>
            <span class="em">一共有<em id="messageCount">100 </em>条评论</span>
        </div>       
        <ul>
        {% if userInfo._id %}
        <li class="textLeft">zmouse</li>
        <li class="textLeft clear">
            <textarea id="messageContent"></textarea>
            <input type="hidden" id="contentId" value="{{content.id}}">
            <button id="messageBtn" class="submit">提交</button>
        </li>
        {%else%}
        <li><span class="login_msg">你还没有登录，请先登录</span></li>
        {%endif%}
        </ul>
        <div class="msg_inf"></div>
        <div class="pager">
            <ul>
                <li class="previous"><a href="">上一页</a></li>
                <li></li>
                <li class="next"><a href="">下一页</a></li>
            </ul>
        </div>
    </div>
<script src="/public/js/comment.js"></script>    
{%endblock%}